.toast-container{
    z-index: 11;
}
.toast-container .btn-close{
    margin-left: auto;
}
.toast-icon{
    font-size: 20px !important;
}
.toast-body{
    align-items: center;
}
.toast-success{
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
    border-left: 6px solid #0f5132 !important;
}

.toast-warning{
    color: #664d03 !important;
    background-color: #fff3cd !important;
    border-color: #ffecb5 !important;
    border-left: 6px solid #664d03 !important;
}
.toast-danger {
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
    border-left: 6px solid #842029 !important;
}
.toast-light {
    color: #636464 !important;
    background-color: #fefefe !important;
    border-color: #fdfdfe !important;
    border-left: 6px solid #636464 !important;
}