.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #e9ecef;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav .list-item{
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px
}
.sidenav .list-item:hover{
    background-color: #e7f0f9;
    border-radius: 5px;
    cursor: pointer;
}
