.App {
  /*text-align: center;*/
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

.card, .card-header{
  background-color: #fff !important;
}

.card-header{
  padding: 1.5rem 2rem !important;
}
.btn-icon{
  height: calc(1.5em + 1.65rem + 2px);
  width: calc(1.5em + 1.65rem + 2px);
}

.btn-clean{
  color: #B5B5C3;
  background-color: transparent;
  border-color: transparent;
}

.btn-clean:hover{
  color: #3699FF;
  background-color: #F3F6F9;
  border-color: transparent
}

.grey{
  color: #B5B5C3 !important;
}

.Toastify__toast--dark {
}
.Toastify__toast--default {
}
.Toastify__toast--info {
}
.Toastify__toast--success {
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
}

html, body{
  background-color: #e7f0f9 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
